<<<<<<< HEAD
//Подключение шрифтов
@import "fonts.scss";
//Обнуление стилей
@import "null.scss";
//Основной код


body._lock {
	overflow: hidden;
}
.walpaper {
	background: rgb(21, 21, 21);
}
.container {
	max-width: 1052px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
	line-height: 24px;
	color: rgb(255, 255, 255);
	font-weight: 200;
}
.content {
	flex: 1 1 auto;
	overflow: hidden;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
	position: fixed;
	background: rgb(21, 21, 21);
	width: 100%;
	z-index: 10;
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		max-width: 1100px;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 16px;
		max-width: 1100px;
	}

	&__main {
		z-index: 10;
		justify-self: flex-start;
	}

	&__mainimg {
		max-height: 60px;
		width: auto;
	}

	&__items {
		margin: 0 46px 0 46px;
		display: flex;
		align-items: center;
		list-style: none;
		text-align: center;
	}

	&__item {
	}

	&__hrefitem {
		font-style: italic;
		color: rgb(225, 229, 234);
		align-items: center;
		padding: 0px 16px;
		cursor: pointer;
	}

	&__sold {
	}

	&__hrefsold {
		white-space: nowrap;
		border-radius: 50px;
		padding: 10px 22px;
		color: white;
		font-size: 16px;
		font-style: italic;
		cursor: pointer;
		transition: all 0.2s ease-in-out 0s;
		background: rgb(29, 161, 242);
	}

	&__burger {
		display: none;
	}
}

.video {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
	margin-bottom: 100px;
    width: auto;
    position: relative;
    z-index: 1;

	&__item {
		max-width: 100%;
		max-height: 100%;
		height: auto;
		object-fit: cover;
	}

}
.blocks {
	flex-wrap: wrap;
	&__block {
		padding: 70px 0 0 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	&__block:nth-child(2) {
		flex-direction: row-reverse
	}

	&__text {
		text-align: left;
		max-width: 440px;
		padding: 0px 0px 60px 0;
	}
		
	&__heading {
		color: rgb(29, 161, 242);
		text-transform: uppercase;
		font-size: 24px;
		line-height: 16px;
		font-weight: 400;
		letter-spacing: 1.4px;
		margin-bottom: 16px;
	}

	&__paragrof {
		font-size: 18px;
		margin-bottom: 16px;
		}
	&__img {
		max-width: 330px;
		max-height: 330px;
		}
		.img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	&__image {
		padding: 60px 0px 30px 0px;
		img {
			max-width: 900px;
			max-height: 350px;
		}
	}
}
.roadmap {
	position: relative;
	margin: 0px auto;
    max-width: 800px;
	padding: 70px 0 0 0;

	&__heading {
		font-weight: 500;
		display: block;
		font-size: 3rem;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	&__blocks {

	}

	&__block, &__blocklast {
		font-weight: 500;
		text-align: center;
		padding: 1rem;
		border-width: 2px;
		border-style: solid;
		border-color: deepskyblue;
		border-image: linear-gradient(to right, rgb(32, 218, 190) 0%, deepskyblue 100%) 1 / 1 / 0 stretch;
		position: relative;
		clear: both;
		margin: 3rem 0rem 3rem 0rem;
		line-height: 30px;
	}

	&__block::before{
		top: calc(50% - -50%);
		border-style: solid;
		border-color: deepskyblue deepskyblue transparent transparent;
		border-width: 10px;
		transform: rotate(135deg);
	}
	&__block::after, &__block::before {
		content: "";
		position: absolute;
	}

	&__one {
		font-size: 1.8rem;
		line-height: 1;
		border-image: none 100% / 1 / 0 stretch;
	}

	&__two {
		color: white;
		margin: 0px;
		font-size: 1.3em;
	}

	&__three {
		color: white;
		line-height: 1.5;
		font-size: 1rem;
		margin: 0.5rem 0px 0px;
	}
}
.team {
	padding: 50px 0 0 0;
	line-height: 30px;
	font-size: 18px;
	&__heading {
		padding: 0 0 50px 0;
		font-weight: 500;
		display: block;
		font-size: 3rem;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	&__blocks {
		display: flex;
		flex-direction: column;
	}

	&__main {
		flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding-bottom: 50px;
	}

	&__dev {
	}


	&__name {
		padding: 30px 0 0 0;
		font-weight: 500;
	}

	&__role {
	}

	&__links {
		display: flex;
		align-items: flex-start;
	}

	&__link {
	}

	&__linkimg {
		max-width: 25px;
		height: auto;
	}

	&__devimage {
		padding: 10px 0 0 0;
		max-width: 250px;
		max-height: 250px;
	}

	&__devimg {
		max-width: 100%;
		max-height: 100%;
	}

	&__description {
		font-size: 16px;
		margin: 0 auto;
		max-width: 800px;
	}

	&__text {
		text-align: justify;	 
	}
}

.footer {
	margin-top: auto;
	padding: 250px 0 24px 0;
	&__content {
		justify-content: space-between;
		display: flex;
		flex-direction: row;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		align-items: center;
		color: rgb(255, 255, 255);
	}

	&__main {
		line-height: 16px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		font-size: 24px;
		font-weight: bold;
	}

	&__text {
		line-height: 16px;
	}

	&__textlink {
		line-height: 16px;
		text-decoration: underline;
	}

	&__link {
	}

	&__linkimg {
		margin: 0 5px 0 5px;
		max-width: 30px;
		height: auto;
	}
}



//Адаптив (ВСЕГДА В КОНЦЕ)
@import "adaptation.scss";
=======
//Подключение шрифтов
@import "fonts.scss";
//Обнуление стилей
@import "null.scss";
//Основной код


body._lock {
	overflow: hidden;
}
.walpaper {
	background: rgb(21, 21, 21);
}
.container {
	max-width: 1052px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
	line-height: 24px;
	color: rgb(255, 255, 255);
	font-weight: 200;
}
.content {
	flex: 1 1 auto;
	overflow: hidden;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
	position: fixed;
	background: rgb(21, 21, 21);
	width: 100%;
	z-index: 10;
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		max-width: 1100px;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 16px;
		max-width: 1100px;
	}

	&__main {
		z-index: 10;
		justify-self: flex-start;
	}

	&__mainimg {
		max-height: 60px;
		width: auto;
	}

	&__items {
		margin: 0 46px 0 46px;
		display: flex;
		align-items: center;
		list-style: none;
		text-align: center;
	}

	&__item {
	}

	&__hrefitem {
		font-style: italic;
		color: rgb(225, 229, 234);
		align-items: center;
		padding: 0px 16px;
		cursor: pointer;
	}

	&__sold {
	}

	&__hrefsold {
		white-space: nowrap;
		border-radius: 50px;
		padding: 10px 22px;
		color: white;
		font-size: 16px;
		font-style: italic;
		cursor: pointer;
		transition: all 0.2s ease-in-out 0s;
		background: rgb(29, 161, 242);
	}

	&__burger {
		display: none;
	}
}

.video {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
	margin-bottom: 100px;
    width: auto;
    position: relative;
    z-index: 1;

	&__item {
		max-width: 100%;
		max-height: 100%;
		height: auto;
		object-fit: cover;
	}

}
.blocks {
	flex-wrap: wrap;
	&__block {
		padding: 70px 0 0 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	&__block:nth-child(2) {
		flex-direction: row-reverse
	}

	&__text {
		text-align: left;
		max-width: 440px;
		padding: 0px 0px 60px 0;
	}
		
	&__heading {
		color: rgb(29, 161, 242);
		text-transform: uppercase;
		font-size: 24px;
		line-height: 16px;
		font-weight: 400;
		letter-spacing: 1.4px;
		margin-bottom: 16px;
	}

	&__paragrof {
		font-size: 18px;
		margin-bottom: 16px;
		}
	&__img {
		max-width: 330px;
		max-height: 330px;
		}
		.img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	&__image {
		padding: 60px 0px 30px 0px;
		img {
			max-width: 900px;
			max-height: 350px;
		}
	}
}
.roadmap {
	position: relative;
	margin: 0px auto;
    max-width: 800px;
	padding: 70px 0 0 0;

	&__heading {
		font-weight: 500;
		display: block;
		font-size: 3rem;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	&__blocks {

	}

	&__block, &__blocklast {
		font-weight: 500;
		text-align: center;
		padding: 1rem;
		border-width: 2px;
		border-style: solid;
		border-color: deepskyblue;
		border-image: linear-gradient(to right, rgb(32, 218, 190) 0%, deepskyblue 100%) 1 / 1 / 0 stretch;
		position: relative;
		clear: both;
		margin: 3rem 0rem 3rem 0rem;
		line-height: 30px;
	}

	&__block::before{
		top: calc(50% - -50%);
		border-style: solid;
		border-color: deepskyblue deepskyblue transparent transparent;
		border-width: 10px;
		transform: rotate(135deg);
	}
	&__block::after, &__block::before {
		content: "";
		position: absolute;
	}

	&__one {
		font-size: 1.8rem;
		line-height: 1;
		border-image: none 100% / 1 / 0 stretch;
	}

	&__two {
		color: white;
		margin: 0px;
		font-size: 1.3em;
	}

	&__three {
		color: white;
		line-height: 1.5;
		font-size: 1rem;
		margin: 0.5rem 0px 0px;
	}
}
.team {
	padding: 50px 0 0 0;
	line-height: 30px;
	font-size: 18px;
	&__heading {
		padding: 0 0 50px 0;
		font-weight: 500;
		display: block;
		font-size: 3rem;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	&__blocks {
		display: flex;
		flex-direction: column;
	}

	&__main {
		flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding-bottom: 50px;
	}

	&__dev {
	}


	&__name {
		padding: 30px 0 0 0;
		font-weight: 500;
	}

	&__role {
	}

	&__links {
		display: flex;
		align-items: flex-start;
	}

	&__link {
	}

	&__linkimg {
		max-width: 25px;
		height: auto;
	}

	&__devimage {
		padding: 10px 0 0 0;
		max-width: 250px;
		max-height: 250px;
	}

	&__devimg {
		max-width: 100%;
		max-height: 100%;
	}

	&__description {
		font-size: 16px;
		margin: 0 auto;
		max-width: 800px;
	}

	&__text {
		text-align: justify;	 
	}
}

.footer {
	margin-top: auto;
	padding: 250px 0 24px 0;
	&__content {
		justify-content: space-between;
		display: flex;
		flex-direction: row;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		align-items: center;
		color: rgb(255, 255, 255);
	}

	&__main {
		line-height: 16px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		font-size: 24px;
		font-weight: bold;
	}

	&__text {
		line-height: 16px;
	}

	&__textlink {
		line-height: 16px;
		text-decoration: underline;
	}

	&__link {
	}

	&__linkimg {
		margin: 0 5px 0 5px;
		max-width: 30px;
		height: auto;
	}
}



//Адаптив (ВСЕГДА В КОНЦЕ)
@import "adaptation.scss";
>>>>>>> 729263d (test)
